{% extends 'news/base.html' %}

{% block content %}
<h2>{{ newsletter.title }}</h2>

<p>
    <strong>Author:</strong> {{ newsletter.author.username }}
</p>

<p>
    <strong>Description:</strong>
</p>

<p>
    {{ newsletter.description }}
</p>

<hr>

<h3>Articles</h3>

{% if newsletter.articles.all %}
    <ul>
        {% for article in newsletter.articles.all %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No articles assigned.</p>
{% endif %}

<hr>

{% if user.is_authenticated %}
    {% if user == newsletter.author or perms.news.can_approve_article %}
        <p>
            <a href="/newsletters/{{ newsletter.id }}/edit/">
                Edit Newsletter
            </a>
        </p>

        <p>
            <a href="/newsletters/{{ newsletter.id }}/delete/">
                Delete Newsletter
            </a>
        </p>
    {% endif %}
{% endif %}

{% endblock %}